
[submodule "transformer-all-in-one"]
	path = transformer-all-in-one
	url = git@github.com:CYang828/transformer-all-in-one.git

[submodule "llm-tutorials-chinese"]
	path = llm-tutorials-chinese
	url = git@github.com:CYang828/llm-tutorials-chinese.git
